@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
  }

  .dark:root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

/* AUTH */
.auth_container {
  @apply flex-1 items-center pt-20 px-4 bg-primary-950
}

.auth_heading {
  @apply text-4xl font-extrabold text-slate-900 tracking-tight
}

.auth_subheading {
  @apply mt-2 text-base text-slate-500 text-center
}

.auth_input {
  @apply w-full rounded-xl px-4
         border border-slate-300
         bg-primary-500/20 text-white 
         focus:border-primary-500
         focus:ring-2 focus:ring-primary-500/20
         focus:outline-none;
}

.auth_input_error {
  @apply text-destructive text-sm px-2
}

.auth_button {
  @apply w-full mt-3 py-3 rounded-xl
         bg-primary-500 text-white
         hover:bg-primary-600
         focus:ring-2 focus:ring-primary-500/20
         focus:outline-none;
}

.auth_button_text {
  @apply text-center font-semibold
}

.transactions_input {
  @apply w-full rounded-xl px-4 py-5 min-h-[56px]
         border border-slate-300
         bg-primary-500/20 text-white text-base
         focus:border-primary-500
         focus:ring-2 focus:ring-primary-500/20
         focus:outline-none;
}

.transactions_select {
  @apply w-full rounded-xl p-5 min-h-[56px]
         border border-slate-300
         bg-primary-500/20 text-white
}

.transactions_toggle_active {
  @apply flex-1 py-4 rounded-xl items-center
}

.transactions_toggle_inactive {
  @apply flex-1 py-4 rounded-xl items-center
         bg-primary-500/20 border border-slate-300
}